.container8 {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  margin-top: 86px;
  /* clear: both; */
  /* overflow: hidden; */
}
.container8 .link {
  width: 1200px;
  margin-left: 365px;
}
.container8 .link li {
  display: inline-block;
  font-size: 14px;
  color: #888;
}
.container8 .link li a {
  display: block;
  padding: 10px 25px 10px 5px;
}
