* {
  box-sizing: border-box;
}
.container1 {
  width: 100%;
  height: auto;
  text-align: center;
}
.container1 .slide {
  transition: 0.4s;
}
.container1 img {
  margin-top: 50px;
}
.container1 .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: -50px;
}
.container1 h2 {
  position: absolute;
  top: 40%;
  left: 38%;
  color: #fff;
  font-size: 35px;
  z-index: 999;
  font-weight: 400;
}
.container1 .slidetxt2 {
  left: 39%;
}
.container1 h3 {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  z-index: 999;
}
.container1 .slidetxt3 {
  left: 37%;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 80px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  width: 100%;
  font-family: "맑은 고딕", sans-serif;
  font-size: 17px;
}
.container2 p > a {
  margin-right: 500px;
}
.container2 .more {
  display: block;
  background: url(../assets/images/more.jpg) no-repeat 50% / contain;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  text-align: center;
}
